nav{
    font-size: larger;
}
.pasosCompra{
    margin: auto;
    max-width: 50%;
}
.contenido{
    & .containerNovedades{
        background-image: url(../img/barrilles.jpg);
        background: {
            size: cover;
            position: center;
        }
    }
    & h1{
        padding-left: 15%;
        margin-top: 30px;
        font-size: 2vw;
    }
    h2{
        padding-left: 15%;
        margin-top: 20px;
        font-size: 3vw;
    }
    }
.card{
    transition: 1s ease;
}
.carta:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}
@media (max-width:$mobile){
    .contenido{
        margin-top: 0;
        h1{
            font-size: medium;
        }
        h2{
            font-size: x-large;
        }
    }   
  
}