*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* FONTS */
//font-family: 'Ibarra Real Nova', serif;
/* VARIABLES */
@import 'vars';

/* EXTEND */
.title{
    font-family: 'Cormorant SC', serif;
    color: #dfe6e9;
}
/* APLICA A TODAS LAS PÁGINAS */

@media (max-width:$mobile){

    .footer{
        flex-direction: column;
        margin: 15px auto;
            & .navbar-brand{
                margin: 0 auto;
            }
            & .footerRedes{
                margin: auto;
                justify-content: space-around;
            }
        
    }
}

@media (max-width:$tablet){
    .footer{
        flex-direction: column;
        margin: 15px auto;
            & .navbar-brand{
                margin: 0 auto;
            }
            & .footerRedes{
                margin: auto;
                justify-content: space-around;
            }
        
    }

}

/* index */
@import 'index';

/* NOSOTROS */
@import 'nosotros';

/* SECCIÓN INFO COMPRAS */
@import 'comoComprar';

/* CONTACTO */
@import 'contacto';